table {
    background-color: #f6f6f6;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #999;
  }
  td{
    padding: 20px;
    text-align: start;
    
  }
  th {
    background: rgb(42, 165, 136);
    color: white;
    padding: 6px 12px;
    text-align: start;
    background-color: rgb(42, 165, 136);
  }
  .animal{
    background-color: rgb(42, 165, 136);
    color:white;
    padding: 10px;
  }
  .primary {
    background-color: #000000;
  }
  
.animals{
    background: black;
    color: white;
  }
  
  tbody > tr:hover {
    background-color: #b98ee6;
  }
  